services:
  attention-server:
    build: backend
    image: attention-server:latest
    ports:
      - "8000:8000"
    env_file:
      - ".env"
    environment:
      - APP_VERSION=${APP_VERSION}
      - CORS_ALLOWED_ORIGINS=${CORS_ALLOWED_ORIGINS}
      - FACE_DETECTION_MIN_CONFIDENCE=${FACE_DETECTION_MIN_CONFIDENCE}
      - FACE_DETECTION_MODEL_SELECTION=${FACE_DETECTION_MODEL_SELECTION}
      - FACE_DETECTION_MARGIN=${FACE_DETECTION_MARGIN}
      - FACE_MESH_MAX_NUM_FACES=${FACE_MESH_MAX_NUM_FACES}
      - FACE_MESH_MIN_DETECTION_CONFIDENCE=${FACE_MESH_MIN_DETECTION_CONFIDENCE}
      - FACE_MESH_MIN_TRACKING_CONFIDENCE=${FACE_MESH_MIN_TRACKING_CONFIDENCE}
      - EMOTION_MODEL_NAME=${EMOTION_MODEL_NAME}
      - EMOTION_DEVICE=${EMOTION_DEVICE}
      - EMOTION_WINDOW_SIZE=${EMOTION_WINDOW_SIZE}
      - EMOTION_CONFIDENCE_THRESHOLD=${EMOTION_CONFIDENCE_THRESHOLD}
      - EMOTION_AMBIGUITY_THRESHOLD=${EMOTION_AMBIGUITY_THRESHOLD}
      - EAR_THRESHOLD=${EAR_THRESHOLD}
      - EAR_CONSEC_FRAMES=${EAR_CONSEC_FRAMES}
      - EAR_HISTORY_MAXLEN=${EAR_HISTORY_MAXLEN}
      - EAR_ALERT_THRESHOLD=${EAR_ALERT_THRESHOLD}
      - EAR_DROWSY_THRESHOLD=${EAR_DROWSY_THRESHOLD}
      - EAR_VERY_DROWSY_THRESHOLD=${EAR_VERY_DROWSY_THRESHOLD}
      - HEAD_PITCH_HIGHLY_ATTENTIVE=${HEAD_PITCH_HIGHLY_ATTENTIVE}
      - HEAD_YAW_HIGHLY_ATTENTIVE=${HEAD_YAW_HIGHLY_ATTENTIVE}
      - HEAD_PITCH_ATTENTIVE=${HEAD_PITCH_ATTENTIVE}
      - HEAD_YAW_ATTENTIVE=${HEAD_YAW_ATTENTIVE}
      - HEAD_PITCH_DISTRACTED=${HEAD_PITCH_DISTRACTED}
      - HEAD_YAW_DISTRACTED=${HEAD_YAW_DISTRACTED}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
